Package: com.captinc.youtubedarkmodesync
Name: YouTubeDarkModeSync
Version: 1.3
Depends: firmware (>=11.0), mobilesubstrate
Author: Capt Inc <teamcaptinc@gmail.com>
Maintainer: Capt Inc <teamcaptinc@gmail.com>
Section: Tweaks
Architecture: iphoneos-arm
Description: Toggle YouTube's built-in dark mode with iOS 13's dark mode, DarkModeToggle, and Noctis
Depiction: https://captinc.github.io/depictions/youtubedarkmodesync/youtubedarkmodesync.html
